<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HtmlFormUtility.Properties.Settings.dsEduActivity"
            connectionString="Data Source=172.18.6.25;Initial Catalog=www_EduActivity;Persist Security Info=True;User ID=www_eduactivity_user"
            providerName="System.Data.SqlClient" />
        <add name="HtmlFormUtility.Properties.Settings.www_EduActivityConnectionString"
            connectionString="Data Source=172.18.6.25;Initial Catalog=www_EduActivity;Persist Security Info=True;User ID=www_eduactivity_user"
            providerName="System.Data.SqlClient" />
        <add name="HtmlFormUtility.Properties.Settings.www_EduActivityConnectionString1"
            connectionString="Data Source=172.18.6.25;Initial Catalog=www_EduActivity;Integrated Security=False;User ID=www_eduactivity_user;Password=eduact*user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
